body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 0%;
}

.logo{
    display: flex;
    justify-content: center;
    padding: 7px;
}

nav{
    border-style: groove none groove none;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: white;
    text-transform: uppercase;
    font-size: 15px;
}

nav li{
    display: inline;
}

nav a{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

.desplegable-horizontal{
    list-style: none;
    display: flex;
    justify-content: center;
}

.desplegable-horizontal > li > a{
    display: block;
    padding: 0px 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.desplegable-horizontal > li > a:hover {color:#7ABA96;}
.desplegable-vertical > li > a:hover {color:#7ABA96;}

.desplegable-vertical{
    border-style: groove none none none;
    border-color: #7ABA96;
    position: absolute;
    display: none;
    list-style: none;
    width: 152px;
    background-color: white;
    padding-left: 10px;
    text-align: justify;
}

.desplegable-horizontal li:hover .desplegable-vertical{
    display: block;
}


.desplegable-vertical li a {
    display: block;
    color: black;
    font-weight: bold;
    padding: 10px 10px 10px;
    padding-left: 10px;
    text-decoration: none;
}

main{
    border: 2px solid  white;
    margin: 20px;
    width: 98%;
    display: inline-flex;
    justify-content: center;

    margin-top: 0%;
}

.footer2{
    border: 2px solid white;
    width: 100%;
    justify-content: center;
    display: inline-flex;
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    flex-wrap: wrap;
    align-self: flex-end
}
.footer2 h3{
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    color: white;
}

section{
    border: 2px solid white;
    width: 98%;
    height: 98%;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
}

article{
    border: 2px solid white;
    width: 49%;
    height: 49%;
    justify-content: center;
    float: left;
    margin-top: 15px;
    margin-bottom: 200px;
    margin-left: 150px;
    margin-right: 150px;
}

article img{
    justify-content: center;
    width: 90%;
    size: 20%;
    max-width: 28%;
    max-width: 28%;
    float:left;
    margin: 15px;
    padding: 5px;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

p{
    font-size: 18px;
    text-align: justify;
    margin: 15px;
    margin-top: 10px;
}
